body {
  font-family: sans-serif;
}

.grid-col {
  height: 50px;
  width: 50px;
  font-family: Helvetica;
  font-size: 30px;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  color: white;
}
.grid-row {
  display: flex;
  justify-content: center;
  margin-bottom: 0px;
}
#innerbar {
  transition: width 0.3s linear;
}

.x {
  background-color: rgba(124, 252, 0, 1);
}
.o {
  background-color: rgba(250, 128, 114, 1);
}
